<nav class="p-3">
  <div class="card">
    <div class="card-body">
      <div class="d-flex align-items-center">
      <h3>Liste des exposants</h3>

        <div class="card-body d-flex justify-content-center align-items-center">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="bi bi-search"></i></span>
            </div>
            <input class="form-control" type="text" [(ngModel)]="keyword" (keyup)="searchExposant()" placeholder="Chercher un exposant">
          </div>
        </div>

      </div>
      <table class="table" *ngIf="exposants">
        <thead>
        <tr>
          <th>Nom</th>
          <th>Pays</th>
          <th>Email</th>
          <th>Password</th>
          <th>Telephone</th>
          <th>SiteWeb</th>
          <th>Adresse</th>
          <th>Responsable_Salle</th>
          <th>Responsable</th>
          <th>Specialite</th>
          <th>Localisation</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let exposant of exposants">
          <td>{{exposant.nom}}</td>
          <td>{{exposant.pays}}</td>
          <td>{{exposant.mail}}</td>
          <td>{{exposant.password}}</td>
          <td>{{exposant.telephone}}</td>
          <td>{{exposant.siteWeb}}</td>
          <td>{{exposant.adresse}}</td>
          <td>{{exposant.responsableSalle}}</td>
          <td>{{exposant.responsable}}</td>
          <td>{{exposant.specialite}}</td>
          <td>{{exposant.localisation}}</td>
          <td>
            <button (click)="handelEdit(exposant)" class="btn btn-outline-secondary">
              <i class="bi bi-pencil"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</nav>
