<nav class="p-3">
  <div class="card">
    <div class="card-body">
      <div class="d-flex align-items-center">
        <h3>Liste des livre</h3>

        <div class="card-body d-flex justify-content-center align-items-center">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="bi bi-search"></i></span>
            </div>
            <input class="form-control" type="text" [(ngModel)]="keyword" (keyup)="searchLivre()" placeholder="Chercher un livre">
          </div>
        </div>


      </div>
      <table class="table" *ngIf="livres">
        <thead>
        <tr>
          <th>Titre</th>
          <th>Auteur</th>
          <th>Editeur</th>
          <th>Date_edition</th>
          <th>Prix</th>
          <th>Isbn</th>
          <th>Exposant</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let livre of livres">
          <td>{{livre.titre}}</td>
          <td>{{livre.auteur}}</td>
          <td>{{livre.editeur}}</td>
          <td>{{livre.dateEdition}}</td>
          <td>{{livre.prix}}</td>
          <td>{{livre.isbn}}</td>
          <td>{{livre.exposant.nom}}</td>
          <td>
            <button (click)="handelEdit(livre)" class="btn btn-outline-secondary">
              <i class="bi bi-pencil"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</nav>
